/* el selector * es universal */
* {
    box-sizing: border-box;
    /* calcula automaticamente paRA QUE NO HAYA SCROLL HORIZONTAL*/
    padding: 0;
    margin: 0;
}

html {
    font-size: 65.5%;
    /* esta linea indica que un REM es igual a 10px* lo que nos permite usar el rem como unidad de medida estandar para todo el proyecto */
}

/*AGREGAR ESTA PARTE Al inicio de  TODOS LOS ARCHIVOS CSS*/
/* usar rem como unidad de edida para las dimensiones no spermite tener un mejor control del tamaño*/
:root {
    --color-principal: #33464e;
    --primer-complementario: #afb0b1;
    --segundo-complementario: #d7794a;
    --tercer-complementario: #89553b;
    --color-oscuro: #384043;
    --color-claro: #dfe2e3;
    --resaltador: #a3b4b9;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("../img/campanilla.png");
    background-size: cover;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

/* #heroLogin {
    background-image:url("../img/campanilla.png"); 
    background-size: "cover";

} */
.logohc{
    width: 200px;
    margin-bottom: 1rem;
}
.hotelName{
    margin-bottom: 0.1rem;
}
.subtitle{
    margin-top: 0.1rem;
}
#formulario {
    color:var(--color-claro);
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    height: 40vh;
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
}
.btn-complementario{
    background-color: var(--segundo-complementario);
    color:var(--color-claro);
}

.form-floating {margin-bottom: 2rem;}
.form-signin {
    max-width: 70vw;
    min-width: 400px;
    padding: 15px;
  }
  
  .form-signin input {
    /* width:10rem; */
    border:none;
    border-bottom: 2px solid var(--color-claro);  
    background-color: transparent;
    border-radius: 0;
  }
  .btn:hover {
    background-color: var(--tercer-complementario);
  }
  .registrate {
    text-decoration: none;
    color:var(--color-claro);
  }
  /* input[type="checkbox"]:enabled:checked {
    
    background-color: #aa1d24 !important;
    color: white;
} */

input[type='checkbox'] {
    accent-color: var(--segundo-complementario);
}
  .backToMenu{
    text-decoration: none;
    color:var(--segundo-complementario);
    font-size:1.8rem;
    text-transform: uppercase;
    font-weight: 500;

  }
  a:hover {
    color: var(--tercer-complementario);
}
.footer{
    background-color: var(--color-oscuro);
    color:var(--color-claro);
}

.errorDato{
    background-color: var(--tercer-complementario);
    color: var(--color-claro);
    font-style: italic;
    
}