.navbar-dark{
    background: #33464e;
  }
  .btn-lg{
    background-color: #d7794a;
  }

  .card{
    background-color: #33464e;
  }

  .btn-lg{
    background-color: #db865c;
  }

  .p-5{
    background-color: #354850;
  }

.btn-light{
    background-color: #db865c; 
}