/* el selector * es universal */ 
*{
    box-sizing: border-box; /* calcula automaticamente paRA QUE NO HAYA SCROLL HORIZONTAL*/
    padding:0;
    margin: 0;
}

html{
    font-size: 65.5%;
    /* esta linea indica que un REM es igual a 10px* lo que nos permite usar el rem como unidad de medida estandar para todo el proyecto */
}
/*AGREGAR ESTA PARTE Al inicio de  TODOS LOS ARCHIVOS CSS*/
/* usar rem como unidad de edida para las dimensiones no spermite tener un mejor control del tamaño*/
:root{
    --color-principal:#33464e;
    --primer-complementario:#afb0b1;
    --segundo-complementario:#d7794a;
    --tercer-complementario: #89553b ;
    --color-oscuro: #384043;
    --color-claro: #dfe2e3;
    --resaltador: #a3b4b9;  
}
 header {
    background-image:url("../img/campanilla.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 45rem;
    font-size: 2rem;
   

  }

 nav > ul {
    width: 70vw;
    display: flex;
   }


.titulo {
    color: var(--color-principal);

}
footer{
    background-color: var(--color-oscuro);
    color:var(--color-claro);
}
a {
    color: var(--color-principal)
   }
   a:hover {
       color: var(--tercer-complementario);
   }
   .row {
    background-color:white;
   }
   .botonesInicio {
    padding: 1rem;
   }
