/* acordion */
.accordion-button {
  background-color: var(--color-principal);
  color: var(--color-claro);
  font-size: x-large;
  text-transform: uppercase;
}

.accordion-button:not(.collapsed) {
  color: var(--color-principal);
  background-color: var(--resaltador);
}

.accordion-body {
  background-color: var(--color-claro);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2333464e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); /* ... fill='%23{codigo hexadecimal del color sin el #}'%3e%3cpath fill*/
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dfe2e3'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); /* ... fill='%23{codigo hexadecimal del color sin el #}'%3e%3cpath fill*/
}

.accordion-button:focus {
  box-shadow: var(--shadow-complementario);
}
