
<div class="container" id="nuestrahistoria">
  <div class="row text-center">
    <h2>Enamorate de nuestra esencia</h2>
  </div>
  <div class="row">
    <div class="col-6 m-auto text-center"> <br><hr><strong>Con muchos años de trayectoria en Villa Carlos Paz, trabajamos para brindarte un servicio único, con un entorno ideal para descansar y desconectar de la rutina, rodeado de espacio verde, una hermosa piscina y la mejor vista a las sierras.</strong>

      <br>Una ubicación privilegiada para recorrer todo el Valle de Punilla sin tener que cambiar de hospedaje. A sólo 40 km de Córdoba Capital, nuestra ciudad se destaca por su especial clima serrano, donde es posible disfrutar de sus paisajes durante todo el año, sus balnearios naturales a la vera del río San Antonio y el dique San Roque..</div>
  </div>
</div>
