<div class="container" id="servicios">  
    <div class="row text-center">
      <h2>Servicios</h2>
    </div>
    <div class="row">
      <div class="col-6 m-auto text-center" >  
        <ul id="listaServicio">
          <li>Desayuno completo</li>
          <li>Piscina y Spa relajante</li>
          <li>Cocheras y estacionamiento</li>
          <li>WiFi en áreas públicas y en cada habitación</li>
          <li>Servicio de bebidas</li>
          <li>Sala de estar</li>
          <li>Vista a las sierras</li>
          <li>Traslados al aeropuerto (costo extra)</li>
          <li>Servicio de taxi (costo extra)</li>
          <li>Servicio diario de limpieza: ropa blanca, recambio de toallas y sábanas</li>
        </ul>
      </div>
    </div>  
    <br><br>
    <div class="row ">
      <!--Este es el DIV Padre para que todo pueda entrar en una línea horizontal en lg-->
      <div class="container col-lg-4 col-sm-12">
        <div class="container text-center col-lg-12 col-sm-6 float-sm-start imagen-zoom">
          <img src="../../../assets/img/Body/Spa 612x612.jpg" class="img-fluid rounded" alt="Mujer en Spa">
        </div>
        <div class="container text-center col-lg-12 col-sm-6 float-sm-end descripcion-de-imagenes">
          <!--Usar @ para cambiar el padding según tamaño-->
          <div class="container text-center subttl ">Subtítulo1: Spa</div>
          <div class="container text-center "><strong>Placer y relax en nuestro Spa:</strong> Se brindan servicios que comprenden baños de vapor, hidromasaje jacuzzi, piscina cubierta y climatizada, salas de relax, gabinetes de estética facial y corporal y gimnasio con aparatos y personal trainers.</div>
        </div>
      </div>
  
      <div class="container col-lg-4 col-sm-12">
        <div class="container text-center col-lg-12 col-sm-6 float-sm-end imagen-zoom">
          <img src="../../../assets/img/Body/Swimming pool.jpg" class="img-fluid rounded" alt="Piscina">
        </div>
        <div class="container col-lg-12 col-sm-6 float-sm-start descripcion-de-imagenes">
          <div class="container text-center subttl ">Subtítulo2: Swimming Pool</div>
          <div class="container text-center "><strong>Piscina Cubierta y climatizada: </strong>En el segundo nivel del edificio , de importantes dimensiones con novedoso sistema cuello de cisne. Para la práctica de pileta libre o actividades en el agua para todas las edades quer se desarrollan en fechas particulares (consultar disponibilidad).</div>
        </div>
      </div>
  
      <div class="container col-lg-4 col-sm-12">
        <div class="container text-center col-lg-12 col-sm-6 float-sm-start imagen-zoom">
          <img src="../../../assets/img/Body/chef.jpg" class="img-fluid rounded" alt="Chef">
        </div>
        <div class="container  col-lg-12 col-sm-6 float-sm-end descripcion-de-imagenes">
          <div class="container text-center subttl">Subtítulo3: Chef</div>
          <div class="container text-center "><strong>Desayunos, almuerzos y cenas servidos en el restaurant del hotel o en su habitación: </strong> Restaurant con menú de cocina Internacional. Una variada carta que incluye diversidad de comidas saludables de elaboración casera y opciones de bajas calorías.</div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><hr>