/* el selector * es universal */ 
*{
    box-sizing: border-box; /* calcula automaticamente para que no haya scroll horizontal*/
    padding:0;
    margin: 0;
    border-radius:20px;
    align-items: center;
    justify-content: center;
}


html{
    font-size: 65.5%;
    /* esta linea indica que un REM es igual a 10px* lo que nos permite usar el rem como unidad de medida estandar para todo el proyecto */
}

.bi {
    font-size: 2em;
}

span {
    font-size: 2em;
}

/*AGREGAR ESTA PARTE Al inicio de  TODOS LOS ARCHIVOS CSS*/
/* usar rem como unidad de medida para las dimensiones nos permite tener un mejor control del tamaño*/
:root{
    --color-principal:#33464e;
    --primer-complementario:#afb0b1;
    --segundo-complementario:#d7794a;
    --tercer-complementario: #89553b ;
    --color-oscuro: #384043;
    --color-claro: #dfe2e3;
    --resaltador: #a3b4b9;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 header {
    background-image: url("../img/campanilla.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    
    
  }
#menu{
   
    text-transform: uppercase;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    margin-right:10px;
    float: right;
}
#menu a{
    text-decoration: none;
    color: var(--color-principal);
    font-size:small;
}
#menu a:hover {
    color: var(--tercer-complementario)
}

#logo {
    background-color: white;
    text-align: justify;
    line-height: 20px;

    }

    
#inicio ul{
    line-height: 46px;
    text-align: right;
    list-style: none;
    text-transform: uppercase;
    background-color: var(--color-principal);
    
}

#inicio ul li{
    display: inline-block;
    font-size:x-large;
    margin-right:30px;
    

}
#inicio a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 75px;

}
#inicio a:hover{
    color:black;
    
}

.mensajeBienvenida{
    font-family: 'Times New Roman', Times, serif;
    text-align:end;
    padding: 10rem;
    margin: 21rem auto;
}
.calHot{
    color: var(--segundo-complementario);
}
 