<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/habitaciones" routerLinkActive="active" ariaCurrentWhenActive="page"> Habitacioes Ecommerce</a></li>
    <li><a routerLink="/nuestra-historia" routerLinkActive="active" ariaCurrentWhenActive="page"> Nuestra historia</a></li>
  </ul>
</nav>

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- The routed views render in the <router-outlet>-->

