<div class="form-signin w-100 m-auto text-center sinClase">
    <div class="row justify-content-center">
        <img class="img-fluid d-block mx-auto mb-4 logohc" src="../../../assets/img/LogoHC.png" alt="LogoHC" width="75" height="">
        <h1 class="display-5 fw-bold hotelName"> Hotel California </h1>
        <h4 class="subtitle"> Hotel & Spa </h4>
    </div>
    <div class="row justify-content-center" id="formulario">
        <div class="col-lg-12 mx-auto">
            <form class="formulario" action="https://formsubmit.co/federicogonz2015@gmail.com" method="POST">
                <!-- API utilizada para probar envío de información a mail personal al apretar el botón "submit" https://formsubmit.co/-->
                <h1 class="h1 mb-5 fw-normal">Registrate</h1>
                <!-- Example Code -->
                <div class="container text-start">
                    <div class="row">
                        <div class="col-md  order-first">
                            <div class="mb-3 text-start">
                                <input type="text" class="form-control" name="nombre" id="nombre"
                                    onblur="verificarNombre(this)" onfocus="ocultarErrorNombre(this)"
                                    placeholder="Nombre" required minlength="3" maxlength="20">
                                <label for="nombre" class="form-label text-start">Nombre </label>
                                <span id="nombre-incorrecto" class="errorDato"> Debe ingresar un nombre </span>
                                <span id="nombre-sin-ingresar" class="errorDato"> Ingrese un nombre </span>
                            </div>
                        </div>
                        <div class="col-md order-last">
                            <div class="mb-3 text-start">
                                <input type="text" class="form-control" name="apellido" id="apellido"
                                    onblur="verificarApellido(this)" onfocus="ocultarErrorApellido(this)"
                                    placeholder="Apellido" required minlength="4" maxlength="15">
                                <label for="apellido" class="form-label text-start">Apellido </label>
                                <span id="apellido-incorrecto" class="errorDato"> Debe ingresar un apellido </span>
                                <span id="apellido-sin-ingresar" class="errorDato"> Ingrese un apellido </span>
                                <!--<div class="form-floating">
                  <input type="text" class="form-control" name="nombre" id="nombre" pattern="[A-Za-z]+" onblur="verificarNombre(this)" onkeypress="return soloLetras(event);" placeholder="Nombre" required>
                  <label for="name">Nombre </label>
                </div>
              </div>
              <div class="col-md order-last">
                <div class="form-floating">
                  <input type="text" class="form-control" name="apellido" id="apellido" pattern="[A-Za-z]+" onblur="verificarApellido(this)" onkeypress="return soloLetras(event);"  placeholder="Apellido" required>
                  <label for="apellido">Apellido </label>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md  order-first">
                            <div class="mb-3 text-start">
                                <input type="number" class="form-control" name="telefono" id="telefono"
                                    onblur="verificarTelefono(this)" onfocus="ocultarErrorTelefono(this)"
                                    placeholder="Teléfono" required>
                                <label for="telefono" class="form-label text-start">Teléfono </label>
                                <span id="telefono-incorrecto" class="errorDato"> Debe ingresar un teléfono </span>
                                <span id="telefono-sin-ingresar" class="errorDato"> Ingrese un teléfono </span>
                            </div>
                        </div>
                        <div class="col-md order-last">
                            <div class="mb-3 text-start">
                                <input type="text" class="form-control" name="ciudad" id="ciudad"
                                    onblur="verificarCiudad(this)" onfocus="ocultarErrorCiudad(this)"
                                    placeholder="Ciudad" required>
                                <label for="ciudad" class="form-label text-start">Ciudad</label>
                                <span id="ciudad-incorrecto" class="errorDato"> Debe ingresar una ciudad </span>
                                <span id="ciudad-sin-ingresar" class="errorDato"> Ingrese una ciudad </span>
                                <!--<div class="form-floating">
                  <input type="number" class="form-control" name="telefono" id="telefono" pattern="[0-9]+" onblur="verificarTelefono(this)" onkeypress="return soloNumeros(event);" placeholder="Teléfono" required>
                  <label for="telefono">Teléfono </label>
                </div>
              </div>
              <div class="col-md order-last">
                <div class="form-floating">
                  <input type="text" class="form-control" name="ciudad" id="ciudad" onblur="verificarCiudad(this)" onkeypress="return soloLetras(event);"  placeholder="Ciudad" required>
                  <label for="ciudad">Ciudad</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md  order-first">
                            <div class="mb-3 text-start">
                                <input type="text" class="form-control" name="nombre-usuario" id="nombre-usuario"
                                    onblur="verificarUsuario(this)" placeholder="Nombre de usuario" required>
                                <label for="nombre-usuario" class="form-label text-start">Nombre de usuario</label>
                                <span id="nombre-usuario-incorrecto" class="errorDato"> Debe ingresar un nombre de
                                    usuario </span>
                                <span id="nombre-usuario-sin-ingresar" class="errorDato"> Ingrese un nombre de
                                    usuario </span>
                            </div>
                        </div>
                        <div class="col-md order-last">
                            <div class="mb-3 text-start">
                                <input type="date" class="form-control" name="fecha-nacimiento" id="fecha-nacimiento"
                                    value="1999-01-01" min="1922-01-01" max="2022-10-20"
                                    placeholder="Fecha de Nacimiento" required>
                                <label for="fecha-nacimiento" class="form-label text-start">Fecha de Nacimiento
                                </label>
                                <span id="nacimiento-incorrecto" class="errorDato"> Debe ingresar un nacimiento
                                </span>
                                <span id="nacimiento-sin-ingresar" class="errorDato"> Ingrese un nacimiento </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md  order-first">
                            <div class="mb-3 text-start">
                                <input type="email" class="form-control" name="email" id="email"
                                    onblur="verificarEmail(this)" onfocus="ocultarErrorEmail(this)"
                                    onfocus="ocultarErrorEmail(this)" placeholder="nombre@email.com" required>
                                <label for="email" class="form-label text-start">Email</label>
                                <span id="email-incorrecto" class="errorDato"> Debe ingresar un email </span>
                                <span id="email-sin-ingresar" class="errorDato"> Ingrese un email </span>
                            </div>
                        </div>
                        <div class="col-md order-last">
                            <div class="mb-3 text-start">
                                <input type="email" class="form-control" name="repetir-email" id="repetir-email"
                                    onblur="verificarEmailRepetido(this)" onfocus="ocultarErrorEmailRepetido(this)"
                                    placeholder="nombre@email.com" required>
                                <label for="repetir-email" class="form-label text-start"> Repetir email</label>
                                <span id="repetir-email-incorrecto" class="errorDato"> El email ingresado no
                                    coincide</span>
                                <span id="repetir-email-sin-ingresar" class="errorDato"> El email ingresado debe
                                    coincidir </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md  order-first">
                            <div class="mb-3 text-start">
                                <input type="password" class="form-control" name="password" id="password"
                                    onblur="verificarPassword(this)" onfocus="ocultarErrorPassword(this)"
                                    placeholder="Elige una contraseña" required>
                                <label for="password" class="form-label text-start">Contraseña</label>
                                <span id="password-incorrecto" class="errorDato"> Debe ingresar un password </span>
                                <span id="password-sin-ingresar" class="errorDato"> Ingrese un password </span>
                            </div>
                        </div>
                        <div class="col-md order-last">
                            <div class="mb-3 text-start">
                                <input type="password" class="form-control" name="repetirPassword" id="repetir-password"
                                    onblur="verificarPasswordRepetido(this)"
                                    onfocus="ocultarErrorPasswordRepetido(this)" placeholder="Repite tu contraseña"
                                    required>
                                <label for="repetir-password" class="form-label text-start">Repetir
                                    contraseña</label>
                                <span id="repetir-password-incorrecto" class="errorDato"> El password ingresado no
                                    coincide </span>
                                <span id="repetir-password-sin-ingresar" class="errorDato"> El password ingresado
                                    debe coincidir </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Example Code -->

                <button class="w-100 btn btn-lg btn-complementario" type="submit"
                    id="botonRegistrar">Registrarme</button>
                <p class="mt-5 mb-3">Ya estás registrado? <a class="logIn"> <strong>Iniciá
                            sesión </strong> </a> </p>
            </form>
        </div>
    </div>
    <a  class="backToMenu">VOLVER AL MENU PRINCIPAL</a>
</div>
