<div id="logo" class="row">
      <div class="col-1">
        <img class="img m-4 pe-4 logohc" src="./src/assets/img/LogoHC.png" alt="Logo Hotel" width="100">
      </div>
      <div class="col-3 m-auto ps-auto iso-hotel">
        <h2 class="display-7 fw-bold hotelName">Hotel California </h2>
        <h4 class="subtitle"> Hotel & Spa </h4>
      </div>
      <div class="col">
        <nav id="menu">
          <ul>
            <li><a href="#" class="botonesInicio" id="logueadoCerrar">CERRAR SESIÓN</a></li>
            <li><a href="./Views/LogIn.html" class="botonesInicio" id="deslogLogin" target="_blank">Login</a></li>
            <li><a href="./Views/registro.html" class="botonesInicio" id="deslogRegistrate" target="_blank">Regístrate</a></li>
            <li><a href="./Views/contact2.html" class="botonesInicio" target="_blank">Consulta</a></li>
            <li id="logueadoBienvenido">
              <p>Bienvenido/a <script>document.write(usuario.nombre + " "+ usuario.apellido)</script></p>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <nav id="inicio">
      <ul>
        <li><a href=#nuestrahistoria>Nuestra historia</a> </li>
        <li><a href=#servicios>Servicios</a></li>
        <li><a href=#instalaciones>Instalaciones</a></li>
        <li><a href=#habitaciones>Habitaciones</a></li>
        <li><a href=#contacto>Contacto</a></li>
        <li><a href="./Views/sistema/inicio.html" id="logueadoReserva">Mis reservas</a></li>
      </ul>
    </nav>
    <div class="mensajeBienvenida">
      <h1 class="welcome">WELCOME TO</h1>
      <h1 class="calHot">CALIFORNIA HOTEL</h1>
    </div>
